---
import { Picture } from "astro:assets";
import { getCollection, getEntry, render } from "astro:content";
import JoinUsCTA from "+/components/JoinUsCTA.astro";
import GlobalLayout from "+/layouts/GlobalLayout.astro";
import { Focus } from "+/schema";
import { format } from "date-fns";

export async function getStaticPaths() {
  const articles = await getCollection("articles");
  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await render(article);
const author =
  article.data.author && (await getEntry("members", article.data.author.id));
if (article.data.author && !author)
  throw new Error(
    `Author not found for article ${article.id}, searched for author ${article.data.author.id}`,
  );
---

<GlobalLayout
  title={article.data.title}
  description={"ut.code(); のウェブサイトに書かれた記事のひとつです。"}
  focus={Focus.articles}
  image={article.data.image}
>
  {
    article.data.image && (
      <div class="text-center lg:px-8">
        <Picture
          loading="eager"
          width="1200"
          height="800"
          quality="80"
          formats={["avif", "webp"]}
          class="skeleton mx-auto rounded-none md:max-w-3xl md:rounded-2xl"
          alt="イメージ画像"
          src={article.data.image}
        />
      </div>
    )
  }
  <div
    id="meta"
    class="mx-auto mt-4 flex max-w-xl flex-wrap justify-around px-4 align-middle sm:gap-8"
  >
    {
      author && (
        <a
          href={`/members/${author.id}`}
          class="flex max-w-sm min-w-75 items-center gap-4 rounded-lg px-4 py-2 hover:bg-gray-200"
        >
          <Picture
            alt="著者"
            formats={["avif", "webp"]}
            width="64"
            height="64"
            src={author.data.faceImage}
            class="overflow-clip rounded-full bg-gray-200"
          />
          <div class="flex-1">
            <div class="text-lg text-gray-800">{author.data.nameJa}</div>
            <div class="text-sm text-gray-500">{author.data.description}</div>
          </div>
        </a>
      )
    }
    <time class="my-auto mt-4 text-gray-500">
      {format(article.data.date, "yyyy-MM-dd")}
    </time>
  </div>
  <main class="mx-auto max-w-xl px-4 2xl:max-w-4xl">
    <h1 class="my-8 w-full text-center text-2xl lg:text-3xl">
      {article.data.title}
    </h1>
    <article class="prose w-full max-w-none">
      <Content />
    </article>
  </main>
  <JoinUsCTA class="mt-24">
    ut.code(); に参加する準備はできましたか？
  </JoinUsCTA>
</GlobalLayout>
