---
import { Image } from "astro:assets";

import GlobalLayout from "../layouts/GlobalLayout.astro";
import { Focus } from "../schema";

import ActionButton from "../components/ActionButton.astro";
import ContactHeader from "../images/contact-header.jpg";
---

<GlobalLayout
  title="連絡"
  description="ut.code(); 連絡する手段"
  focus={Focus.contact}
>
  <div class="container mx-auto px-4 pt-16 pb-12">
    <h1 class="text-4xl">ut.code(); に連絡する</h1>
  </div>
  <Image
    alt=""
    src={ContactHeader}
    width="1920"
    height="600"
    class="h-150 object-cover"
  />
  <main class="container mx-auto px-4 py-16">
    <div class="prose max-w-none">
      <h2>お問い合わせ</h2>
      <p>ut.code(); へのお問い合わせは、各種 SNS をご利用ください。</p>
      <p class="not-prose flex gap-4">
        <ActionButton to="https://twitter.com/utokyo_code">
          X (旧 Twitter)
        </ActionButton>
      </p>
      <p>
        メールでのお問い合わせをご希望の方は、次のメールアドレスまでご連絡ください。
      </p>
      <p id="email-loader">読込中...</p>
      <script>
        // スパム対策
        setTimeout(() => {
          const elem = document.getElementById("email-loader");
          if (!elem) throw new Error("email loader: failed to get element");
          const addr = `contact${String.fromCharCode(64)}utcode.net`;
          elem.innerHTML = `<a href=${`mailto:${addr}`}>${addr}</a>`;
        }, 3000);
      </script>
      <h2>ご寄付・ご協賛のお願い</h2>
      <p>
        ut.code();
        では、活動を支援していただける方を募集しております。詳細につきましては、次のページをご覧ください。
      </p>
      <p class="not-prose">
        <ActionButton to="/donation">ご寄付・ご協賛のお願い</ActionButton>
      </p>
    </div>
  </main>
</GlobalLayout>
