---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import JoinUsCTA from "../components/JoinUsCTA.astro";
import { Focus } from "../schema";

import MembersHeader from "../images/members-header.jpg";

const members = (await getCollection("members")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<GlobalLayout
  title="メンバー"
  description="ut.code(); のメンバーの一覧"
  focus={Focus.members}
>
  <Image
    alt=""
    src={MembersHeader}
    width="1920"
    height="700"
    class="w-full h-[100vh] object-cover"
    style="object-position: 50% 20%;"
  />
  <main class="container isolate mx-auto -mt-[300px] px-4 py-16">
    <h1
      class="relative w-max px-4 py-2 bg-black bg-opacity-80 text-white text-6xl sm:text-[8rem]"
    >
      メンバー
      <div
        aria-hidden
        class="absolute top-0 right-full h-full w-[9999px] bg-black bg-opacity-80"
      >
      </div>
    </h1>
    <ul
      class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 md:gap-8"
    >
      {
        members.map((member) => (
          <li class="relative">
            <a
              href={`/members/${member.id}`}
              class="block hover:brightness-90 drop-shadow-lg"
            >
              <Image
                alt={`${member.data?.nameJa} の写真`}
                src={member.data.upperBodyImage}
                width="400"
                height="400"
                class="w-full h-[400px] object-cover"
              />
              <div class="absolute bottom-0 w-full pt-12 pb-6 px-6 bg-gradient-to-b from-transparent to-black text-white">
                <p class="text-3xl">{member.data.nameJa}</p>
                <p class="text-md">{member.data.nameEn}</p>
                <p class="mt-2 text-xs leading-normal">
                  {member.data.description}
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <p class="mt-16 text-gray-600">
      このページは準備中です。ほとんどのメンバーの情報は反映されていません。
    </p>
  </main>
  <JoinUsCTA title="愉快な仲間が皆さんをお待ちしています！" />
</GlobalLayout>
