---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import JoinUsCTA from "../components/JoinUsCTA.astro";
import { Focus } from "../schema";

import MembersHeader from "../images/members-header.jpg";

const members = (await getCollection("members")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<GlobalLayout
  title="メンバー"
  description="ut.code(); のメンバーの一覧"
  focus={Focus.members}
>
  <Image
    alt=""
    src={MembersHeader}
    width="1920"
    height="700"
    class="h-[100vh] w-full object-cover"
    style="object-position: 50% 20%;"
  />
  <main class="isolate container mx-auto -mt-[300px] px-4 py-16">
    <h1
      class="bg-opacity-80 relative w-max bg-black px-4 py-2 text-6xl text-white sm:text-[8rem]"
    >
      メンバー
      <div
        aria-hidden
        class="bg-opacity-80 absolute top-0 right-full h-full w-[9999px] bg-black"
      >
      </div>
    </h1>
    <ul
      class="mt-12 grid gap-4 sm:grid-cols-2 md:gap-8 lg:grid-cols-3 xl:grid-cols-4"
    >
      {
        members.map((member) => (
          <li class="relative">
            <a
              href={`/members/${member.id}`}
              class="block drop-shadow-lg hover:brightness-90"
            >
              <Image
                alt={`${member.data?.nameJa} の写真`}
                src={member.data.upperBodyImage}
                width="400"
                height="400"
                class="h-[400px] w-full object-cover"
              />
              <div class="absolute bottom-0 w-full bg-gradient-to-b from-transparent to-black px-6 pt-12 pb-6 text-white">
                <p class="text-3xl">{member.data.nameJa}</p>
                <p class="text-md">{member.data.nameEn}</p>
                <p class="mt-2 text-xs leading-normal">
                  {member.data.description}
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <p class="mt-16 text-gray-600">
      このページは準備中です。ほとんどのメンバーの情報は反映されていません。
    </p>
  </main>
  <JoinUsCTA> 愉快な仲間が皆さんをお待ちしています！</JoinUsCTA>
</GlobalLayout>
