---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import GlobalLayout from "../layouts/GlobalLayout.astro";
import JoinUsCTA from "../components/JoinUsCTA.astro";
import { Focus } from "../schema";

import MembersHeader from "../images/members-header.jpg";

const members = (await getCollection("members")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<GlobalLayout
  title="メンバー"
  description="ut.code(); のメンバーの一覧"
  focus={Focus.members}
>
  <Image
    loading="eager"
    alt=""
    src={MembersHeader}
    width="1920"
    height="700"
    class="fixed top-0 -z-100 h-[100vh] w-full object-cover"
    style="object-position: 75% 20%;"
    aria-hidden
  />
  <div class="mt-160">
    <h1
      class="bg-opacity-80 relative mb-6 h-full w-max bg-black px-4 py-2 text-[6rem] text-white sm:text-[8rem] lg:pl-40"
    >
      メンバー
    </h1>
  </div>
  <main class="border-t-2 border-gray-600 px-4 py-16 backdrop-blur">
    <ul class="grid w-full gap-8 px-[10%] pt-6 md:grid-cols-2 xl:grid-cols-3">
      {
        members.map((member) => (
          <li class="relative">
            <a
              href={`/members/${member.id}`}
              class="relative block drop-shadow-lg transition-colors duration-150 hover:brightness-110 active:top-0.5"
            >
              <Image
                alt={`${member.data?.nameJa} の写真`}
                src={member.data.upperBodyImage}
                width="400"
                height="400"
                class="h-[400px] w-full object-cover"
              />
              <div class="absolute bottom-0 w-full bg-gradient-to-b from-transparent to-black px-6 pt-12 pb-6 text-white">
                <p class="text-3xl">{member.data.nameJa}</p>
                <p class="text-md">{member.data.nameEn}</p>
                <p class="mt-2 text-xs leading-normal">
                  {member.data.description}
                </p>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
    <p class="mx-[10%] mt-16 text-white">
      このページは準備中です。ほとんどのメンバーの情報は反映されていません。
    </p>
  </main>
  <JoinUsCTA> 愉快な仲間が皆さんをお待ちしています！</JoinUsCTA>
</GlobalLayout>
