---
import { format } from "date-fns";
import noImage from "../images/no-image.svg";
import type { Article } from "../schema";
import { Image } from "astro:assets";

interface Props {
  variant?: "normal" | "compact";
  articles: (Article & { body: string })[];
  class?: string;
}
const props = Astro.props;
const { variant = "normal", articles } = props;
---

<!--
  fragment ArticleListArticle on Mdx {
    id
    frontmatter {
      date
      slug
      title
      image {
        childImageSharp {
          gatsbyImageData(
            width: 600
            height: 400
            transformOptions: { fit: INSIDE }
          )
          largeGatsbyImageData: gatsbyImageData(
            width: 1200
            height: 800
            transformOptions: { fit: INSIDE }
          )
        }
      }
    }
    excerpt(pruneLength: 60)
    longExcerpt: excerpt(pruneLength: 200)
  }
-->
<ul
  class:list={[
    "grid grid-flow-dense md:grid-cols-2 gap-9 lg:grid-cols-3",
    variant === "normal" && "xl:grid-cols-4",
    props.class,
  ]}
>
  {
    articles.map((article, i) => {
      const isFeatured = variant === "normal" && i % 11 === 0; // 11 記事ごとに大きく表示する
      const additionalProps = isFeatured
        ? {
            cellClassName: "md:col-span-2 md:row-span-2",
            imageClassName: "h-[350px] md:h-[450px]",
            excerpt: article.body.slice(0, 120),
          }
        : {
            cellClassName: "",
            imageClassName: "h-[200px]",
            excerpt: article.body.slice(0, 120),
          };
      return (
        <li class="contents">
          <a
            href={`/articles/${article.slug}`}
            class:list={[
              "block hover:opacity-80",
              additionalProps.cellClassName,
            ]}
          >
            <div
              class:list={[
                "w-full h-48 object-cover rounded-xl overflow-clip isolate",
                additionalProps.imageClassName,
              ]}
            >
              {article.image ? (
                <Image
                  alt="カバー画像"
                  height={48 * 4 * 4}
                  width={48 * 4 * 4}
                  src={article.image}
                  class="w-full h-full object-cover"
                />
              ) : (
                <img
                  alt="画像なし"
                  src={noImage.src}
                  class="w-full h-full object-cover"
                />
              )}
            </div>
            <div class="mt-4">
              <time class="block text-gray-500 text-sm">
                {format(article.date, "yyyy/MM/dd HH:mm")}
              </time>
              <h3 class="text-lg font-bold">{article.title}</h3>
              <p class="prose max-w-none mt-2">{additionalProps.excerpt}</p>
            </div>
          </a>
        </li>
      );
    })
  }
</ul>
); }

