---
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import ActionButton from "+/components/ActionButton.astro";
import JoinUsCTA from "+/components/JoinUsCTA.astro";
import GlobalLayout from "+/layouts/GlobalLayout.astro";
import { Focus, type Project } from "+/schema";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";

export const getStaticPaths = (async () => {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { project: project.id },
    props: { project },
  }));
}) satisfies GetStaticPaths;
const { project } = Astro.props;
const { Content } = await render(project);
---

<GlobalLayout
  title={project.data.title}
  description={project.data.description}
  focus={Focus.projects}
  image={project.data.image.src}
>
  <main class="mt-36">
    <div
      class="lg:mx-auto lg:flex lg:max-w-screen-lg lg:flex-row-reverse lg:items-center lg:gap-4 lg:px-4 lg:py-12"
    >
      <Picture
        loading="eager"
        formats={["avif", "webp"]}
        class="skeleton w-full object-cover lg:w-150 lg:rounded-2xl"
        alt="プロジェクト画像"
        src={project.data.image.src}
      />
      <div class="container mx-auto mt-8 px-4 lg:mx-0 lg:flex-1">
        <p class="flex items-center gap-1 text-gray-600">
          <Icon name="feather:layers" />
          <span>Project</span>
        </p>
        <h1 class="mt-2 text-3xl lg:text-5xl">
          {project.data.title}
        </h1>
        {
          project.data.tags && (
            <ul class="mt-4 flex flex-wrap gap-2 lg:mt-6">
              {project.data.tags.map((tag: string) => (
                <li class="rounded-full border border-current px-3 text-sm leading-relaxed lg:text-base">
                  {tag}
                </li>
              ))}
            </ul>
          )
        }
        <div class="flex gap-4 text-4xl">
          {
            [
              {
                href: project.data.github,
                icon: "feather:github",
                label: "GitHub",
              },
              {
                href: project.data.youtube,
                icon: "feather:youtube",
                label: "YouTube",
              },
            ].map(
              (link) =>
                link.href && (
                  <a
                    href={link.href}
                    target="_blank"
                    class="-m-1 mt-6 rounded-xl p-1 hover:brightness-95"
                    rel="noreferrer"
                    aria-label={`${link.label}を見る`}
                  >
                    <Icon name={link.icon} class="h-9 w-9" />
                  </a>
                ),
            )
          }
        </div>
        {
          project.data.website && (
            <ActionButton to={project.data.website} class="my-6">
              <Icon name="feather:globe" class="mr-2 inline-block h-6 w-6" />
              <span>{project.data.title} へ</span>
            </ActionButton>
          )
        }
      </div>
    </div>
    <div class="container mx-auto mt-6 px-4 lg:max-w-screen-lg">
      <div class="prose max-w-none rounded-lg bg-gray-100 p-4">
        {project.data.description}
      </div>
      <div class="prose mt-8 max-w-none"><Content /></div>
    </div>
  </main>
  <JoinUsCTA class="mt-8">
    ut.code(); で{project.data.title}を開発しませんか？
  </JoinUsCTA>
</GlobalLayout>
